.form-wrapper {  
  margin: auto;
  padding: 130px 10px 20px;

  .form-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.575);
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    &__content {
      position: relative;
      padding: 70px 40px;
      font-size: 22px;
      color: rgb(39, 95, 31);
      background-color: #fff;

      button {
        cursor: pointer;
        position: absolute;
        bottom: -65px;
        left: 40%;
        text-align: center;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        background-color: #fff;
        transition: .2s linear;

        &:hover{
          background-color: rgb(238, 238, 238);
        }
      }
    }

  }
}

.form {
  max-width: 450px;
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 40px;
  border: 1px solid rgb(177, 177, 177);

  &__sex {
    position: relative;
    display: flex;
    flex-direction: column;    
    .error {
      padding: 2px 0;
    }    
  }
  &__sex-item {
    margin-left: 15px !important;
  }
  &__photo {

    input {
      display: none;
    }

    label {
      cursor: pointer;
      display: flex;
      gap: 5px;
      align-items: center;
      
    }
    
  }
  &__error {
    min-width: 200px;
    width: 100%;
    padding: 2px;
    position: absolute;
    top: 16px;
    z-index: 5;    

    font-size: 14px;
    color: rgb(170, 54, 54);    
  }
  &__error.sex {
    margin-left: -14px;
  }

  &__check {    
  }

  input {
    margin:0 5px;
    padding: 5px 10px;
    border: 1px solid rgb(177, 177, 177);
  }

  div {
    margin: 5px 0;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
  }

  label {
    position: relative;    
  }

  select {
    margin: 0 5px;
  }

  h2 {
    text-align: center;
  }
}

