.content {
  display: flex;
  flex-direction: column;
  padding: 130px 25px 20px;
  min-height: 100vh;
  box-shadow: 3px 2px 10px 2px #c0c0c073;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)),
  url('./assets/mosaic.jpg') repeat center/30%;

  .error {
    text-align: center;
    color: darkred;
    font-size: 26px;
  }
}
.items {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}
.item {
  overflow: hidden;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 12px 2px #ebebeb;
  transition: 0.2s linear;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 12px 2px #c0c0c0;
  }
  &__desc {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
      font-weight: 600;
    }
  }
}

