.header {
  box-shadow: 0px 0px 12px 2px #d8d8d8;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  background: #f7f7f7;
  z-index: 5;

  &__location {
    font-size: 14px;
    padding-bottom: 5px;
    
    span {
      font-weight: 600;
    }
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  font-size: 20px;

  a.active {
    font-weight: 600;
  }
  a:hover {
    text-decoration: underline;
  }
}

.links {
  display: flex;
  gap: 20px;
}
